.allfiles{
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    min-height: 50vh;
}

.allfiles .filecard{
    display: flex;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
}

.allfiles .filecard svg{
    width: 30px;
    height: 30px;
}
.allfiles .filecard .left{
    display: flex;
    gap: 30px;
    align-items: center;
}

.allfiles .filecard  .right svg{
    cursor: pointer;
}